@layer reset, base, components, utilities;

@import "modern-normalize" layer(reset);

@layer base {
  :root {
    --bg: oklch(0.98 0.01 280);
    --text: oklch(0.45 0.03 280);
    --highlight: oklch(0.62 0.2 275);
    --highlight-subtle: oklch(0.9 0.01 280);
    --highlight-not-subtle: oklch(0.628 0.2577 29.23);

    --animation-duration: 0.75s;
    @media screen and (prefers-reduced-motion: reduce) {
      --animation-duration: 0s;
    }
  }

  html {
    /* https://frontendmasters.com/blog/super-simple-full-bleed-breakout-styles/ */
    container: document / inline-size;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body {
    --container-width: min(100%, 100ch);
    --container-width-full-bleed: 100cqw;

    display: grid;
    min-block-size: 100svb;
    grid-template-columns: var(--container-width);
    grid-auto-rows: max-content;
    /* inline-size: min(100%, 100ch); */
    /* margin-inline: auto; */
    justify-content: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }

  #app {
    display: contents;
  }
}

@layer components {
}

@layer utilities {
  .container {
    inline-size: var(--container-width);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .container--full-bleed {
    inline-size: var(--container-width-full-bleed);
    margin-inline-start: calc(
      50% - 50cqw
    ); /* move to the left corner; 50% of centre column - half of screen width = space between left corner and centre column */
  }
}

@keyframes opacity-fade-in {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* @keyframes opacity-fade-out {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
} */
